# http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

#CSS
public/main.css
public/maps/

# misc
.DS_Store
.env

npm-debug.log
.idea
