.cases-wrapper {
  .more {
    bottom: -17vh;

    @include breakpoint(max-width breakpoint-value(sm)) {
      left: 0;
    }
  }

  .special {
    min-height: 600px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      min-height: 400px;
    }
  }

  .case-item {
    .image {
      margin-bottom: 60px;
    }
  }
}

.case-item {

  .set-background {
     color: color(greyscale, white);
  }

  &.bg-white {
    .set-background {
      background-color: color(greyscale, white);
      color: color(greyscale, dark-grey);
    }
  }

  .contents-wrapper {
    position: relative;
    padding-bottom: 75px;
    @include gridlines(150px, 150px, 2px, 0px);

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-left: 45px;
    }

    &:before,
    &:after {
      opacity: 0.2;
      z-index: 3;
    }

    &.container {
      max-width: 960px;
    }
  }

  .banner {
    h2 {
      color: color(greyscale, white);
      @include shadow((
        type: dark,
        level: 3,
        text: text,
      )...);
      @include breakpoint(max-width breakpoint-value(sm)) {
        line-height: .9;
        @include font-size(34px);
      }
    }

    .details {
      position: absolute;
      bottom: 50px;
      width: 150px;
      margin: 0 auto;
      @include calc(left, 50%, '50% - 75px');

      .tags {
        font-weight: 600;
        line-height: 3;
        text-transform: uppercase;
        color: color(brand, danger);
        word-spacing: 10px;
        font-family: font-family(heading);
        @include font-size(12px);
      }

      .github {
        padding: 7.5px 10px;
        float: right;
        margin-left: 5px;
        @include font-size(24px);
      }

      .btn {
        max-width: 100px;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }

  .case-detail-wrapper {
    padding-top: 75px;

    .task {
      h3 {
        margin-top: 0;
      }

      p {

      }
    }

    .about {
      padding-top: 58px;
      text-align: right;

      @include breakpoint(max-width breakpoint-value(sm)) {
        padding-top: 10px;
      }

      .title {

      }

      .skills {

      }

      .completed {

      }

    }

  }
}

.image-shadow {
  img {
    border-radius: 7px;
    @include filter(drop-shadow(0px 7px 14px rgba(14, 14, 14, 0.1)));
  }
}

.image-invert {
  img {
    @include filter(invert(100%));
  }
}

.image-shadow-d {
  img {
    border-radius: 7px;
    @include filter(drop-shadow(0px 7px 14px rgba(14, 14, 14, 0.7)));
  }
}

.image-center {
  img {
    margin: 0 auto;
  }
}

.image-300 {
  img {
    max-width: 300px;
  }
}

.image-500 {
  img {
    max-width: 500px;
  }
}

.image-uli {
  img {
    border-radius: 4px;
    width: 100%;
  }
}
