.cases-wrapper {
  animation: none !important;

  .more {
    bottom: -17vh;

    @include breakpoint(max-width breakpoint-value(sm)) {
      left: 0;
    }
  }

  .special {
    min-height: 600px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      min-height: 400px;
    }
  }

  .case-item {
    .image {
      margin-bottom: 60px;
      pointer-events: none;
    }
  }
}

@include create-keyframe(fadeInDown);
@include keyframes(fadeOutUp) {
	0% {
		opacity: 1;
    height: 100%;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
    height: 0;
		transform: translateY(-20px);
	}
}

.case-item {
  border-bottom: 15px solid color(greyscale, dark-grey);

  .btn-cta {
    background-color: rgba(color(greyscale, white), 0.8);
    border: 1px solid color(brand, danger) {
      radius: 4px;
    }
    color: color(brand, danger);

    &:hover {
      color: color(brand, danger);
      background-color: rgba(color(greyscale, white), 1);
      border: 1px solid color(greyscale, white);
    }
  }

  .collapse {
    animation: fadeOutUp .5s ease-in-out forwards;
    margin: {
      top:  0 !important;
      bottom: 0 !important;
    }
    padding: {
      top:  0 !important;
      bottom: 0 !important;
    }

    div {
      margin: {
        top:  0 !important;
        bottom: 0 !important;
      }
      padding: {
        top:  0 !important;
        bottom: 0 !important;
      }
    }
  }

  .open {
    animation: fadeInUp 0.3s ease-in-out forwards;
  }

  .toggle {
    position: absolute;
    top: -85px;
    z-index: 2;
    max-height: 70px;
    margin: 0 15px;
    @include calc(width, 100%, '100% - 30px');
    @include calc(padding-top, 45%, '5vh - 12px');
    @include calc(padding-bottom, 45%, '5vh - 12px');
    @include shadow(3, light);
    @extend .transition;

    @include breakpoint(max-width breakpoint-value(sm)) {
      margin-left: 45px;
      @include font-size(18px);
      @include calc(width, 100%, '100% - 60px');
      @include calc(padding-top, 45%, '5vh - 9px');
      @include calc(padding-bottom, 45%, '5vh - 9px');
    }

    &:hover {
      color: color(greyscale, white);
      background-color: color(brand, danger);
      @include transform(translateY(5px));
      @include shadow(1, light);
    }
  }

  .set-background {
    color: color(greyscale, white);

    div {
      position: relative;
      z-index: 5;
    }
  }


  &.bg-white {
    .set-background {
      background-color: color(greyscale, white);
      color: color(greyscale, dark-grey);
    }

    .contents-wrapper {
      @extend .transition;
      &:before,
      &:after {
        opacity: 0.3;
      }
    }
  }

  .contents-wrapper {
    position: relative;
    padding-bottom: 75px;
    @include gridlines(150px, 150px, 2px, 0px);

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-left: 45px;
    }

    &:before,
    &:after {
      opacity: 1;
      z-index: 3;
    }

    &.container {
      max-width: 960px;
    }
  }

  .banner {
    max-height: 90vh;
    min-height: 550px;

    h2 {
      color: color(greyscale, white);
      @include shadow((
        type: dark,
        level: 3,
        text: text,
      )...);
      @include breakpoint(max-width breakpoint-value(sm)) {
        margin: 0 auto;
        line-height: .9;
        @include font-size(34px);
        margin-left: 45px;
        margin-right: 10px;
        @include calc(top, 50%, '50% - 50px');
        @include calc(width, 100%, '100% - 55px');
      }
    }

    .details {
      position: absolute;
      bottom: 150px;
      margin: 0 auto;

      @include breakpoint(max-width breakpoint-value(sm)) {
        margin-left: 45px;
        margin-right: 10px;
        @include calc(width, 100%, '100% - 55px');
      }

      @include breakpoint(min-width breakpoint-value(sm)) {
        width: 200px;
        @include calc(left, 50%, '50% - 75px');
      }

      .tags {
        font-weight: 600;
        line-height: 3;
        text-transform: uppercase;
        color: color(greyscale, white);
        word-spacing: 10px;
        font-family: font-family(heading);
        @include font-size(12px);
        @extend %text-shadow;
      }

      .github {
        padding: 7.5px 10px;
        float: right;
        margin-left: 5px;
        @include font-size(24px);
      }

      .btn {
        max-width: 100px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .case-detail-wrapper {
    padding-top: 75px;

    .task {
      h3 {
        margin-top: 0;
      }

      p {

      }
    }

    .about {
      padding-top: 58px;
      text-align: right;

      @include breakpoint(max-width breakpoint-value(sm)) {
        padding-top: 10px;
      }

      .title {

      }

      .skills {

      }

      .completed {

      }

    }

  }
}

.logo-archive {
  .banner {
    background-color: color(brand, danger);
  }
  .case-detail-wrapper {
    padding-bottom: 75px;
  }

  .heading {
    color: color(greyscale, grey);
    @extend .text-center;
  }

  .image {
    padding-bottom: 50px;
    border-bottom: 2px dashed color(greyscale, grey);
  }
}

.image-shadow {
  img {
    border-radius: 7px;
    @include filter(drop-shadow(0px 7px 14px rgba(14, 14, 14, 0.1)));
  }
}

.image-invert {
  img {
    @include filter(invert(100%));
  }
}

.image-shadow-d {
  img {
    border-radius: 7px;
    @include filter(drop-shadow(0px 7px 14px rgba(14, 14, 14, 0.7)));
  }
}

.image-center {
  img {
    margin: 0 auto;
  }
}

.image-300 {
  img {
    width: 100%;
    max-width: 300px;
  }
}

.image-500 {
  img {
    width: 100%;
    max-width: 500px;
  }
}

.image-uli {
  img {
    border-radius: 4px;
    width: 100%;
  }
}
