.contact {
  position: relative;
  background: color(greyscale, white);
  min-height: 100vh;
  @include gridlines(150px, 150px, 2px, 0px);

  &:before, 
  &:after {
    opacity: 0.2;
    z-index: 3;
  }

  .back {
    top: 150px !important;

    @include breakpoint(max-width breakpoint-value(sm)) {
      top: 115px !important;
    }
  }

  .row {
    padding-top: 50px;
  }
}