.home-page {
  .banner {
    @include breakpoint(max-width breakpoint-value(sm)) {
      max-height: 430px;

      h1 {
        top: 70px;
        line-height: 1;
      }

      h4 {
        top: 85px !important;
      }
    }
  }

  .about {
    @include breakpoint(max-width breakpoint-value(sm)) {
      min-height: 750px;
    }
    
    .text {
      @include breakpoint(max-width breakpoint-value(sm)) {
        margin-top: 25px;
      }
    }
  }
}

$padding: 200px;
.special {
  position: relative;
  background: color(greyscale, white);
  min-height: 100vh;
  @include gridlines(150px, 150px, 2px, 0px);

  &:before, 
  &:after {
    opacity: 0.2;
    z-index: 3;
  }
  
  .container {
    max-width: 800px;
    padding: $padding 0 ($padding - 100px);
    position: relative;
    z-index: 10;

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding: 50px 50px 50px 70px;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 30px;
    border-left: 4px solid color(brand, danger);
  }

  .img-float {
    position: absolute;
    width: 350px;
    top: 0px;
    right: -100px;
    z-index: -1;
    border:5px solid color(greyscale, white);
    @include shadow(5, light);
  }

  .section-title {
    position: fixed;
    top: 15px;
    right: 0;
    z-index: 10000;
    padding: 15px 10px 0;
    font-weight: 700;

    @include font-size(13px);

    span {
      display: block;
      padding: 3px 0;
      float: right;
      writing-mode: tb-rl;
      color: color(greyscale, grey);
      background-color: color(greyscale, white);
    }
  }

  .back {
    position: absolute;
    font-family: font-family(primary);
    width: 100%;
    text-align: center;
    left: 0;
    top: (50px + $padding);
    margin: 0;
    z-index: 1;
    color: #ebebeb;
    //mix-blend-mode: difference;
    @include font-size(150px);

    @include breakpoint(max-width breakpoint-value(sm)) {
      top: 100px;
      @include font-size(70px);
    }
  }

  .sub {
    position: relative;
    margin: 0 0 5px 0;
    font-family: font-family(brand);
    z-index: 2;
    max-width: 800px;
    left: -15px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      @include font-size(26px);
    }

    &.bump-up {
      top: -50px;

      // @include breakpoint(max-width breakpoint-value(sm)) {
      //   top: -35px;
      // }
    }
  }

  .text {
    position: relative;
    padding-left: 100px;
    padding-right: 20px;
    margin-top: 3px; 
    z-index: 2;
    line-height: 1.6;

    @include font-size(16px);

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-right: 0;
      padding-left: 15px;
    }
  }

  ul {
    li {
      position: relative;
      margin-bottom: 15px;
      list-style-type: none;
      font-weight: 400;
      font-family: font-family(brand);
      z-index: 2;
      width: 50%; 
      overflow: hidden;
      display: inline-block;
      line-height: 1;

      @include font-size(20px);

      @include breakpoint(max-width breakpoint-value(sm)) {
        width: 100%;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 10px;
        margin-left: 5px;
        z-index: 1;
        background-color: rgba(color(brand, danger), 0.7);
      }
    }
  }

  .extra {
    position: relative;
    padding-left: 40px;
    padding-right: 40px; 
    z-index: 2;
    font-weight: 600;
    font-family: font-family(brand);
    line-height: 1.5;
    @include font-size(21px);

    span {
      position: relative;
      right: -30px;
    }
  }
}

.services {

  .sub {
    top: -50px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      top: -30px;
    }
  }

  .design,
  .develop {
    @extend .transition;
    &:after {
      font-family: font-family(primary);
      margin-left: 5px;
      z-index: 1;
      font-weight: 600;
      color: transparent;
      @include font-size(12px);
      @extend .transition;
    }
  }

  .design {
    &:after {
      content: 'Design Service';
    }
  }

  .develop {
    &:after {
      content: 'Development Service';
    }
  }

  .view-design,
  .view-develop {
    position: absolute;
    z-index: 1000;
    top: 0;

    @include breakpoint(max-width breakpoint-value(sm)) {
      display: none !important;
    }

    &.btn {
      display: inline-block;
      padding: 7px 10px;
      margin-bottom: 25px;
      box-sizing: border-box;
      writing-mode: tb-rl;
      font-weight: 400;
      color: color(greyscale, grey);
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .view-design {
    left: -80px;

    &:hover + .view-develop + ul {
      li.develop {
        color: rgba(color(greyscale, black), 0.9);
        &:after {
          margin: 0;
          top: 0;
          height: 28px;
          left: 0;
          background-color: rgba(color(greyscale, black), 0.9);
        }
      }

      li.design {
        &:after {
          top: 6px;
          background-color: transparent;
          color: color(brand, danger);
        }
      }
    }
  }
  .view-develop {
    right: -15px;

    &:hover + ul {
      li.design {
        color: rgba(color(greyscale, black), 1);
        &:after {
          margin: 0;
          top: 0;
          height: 28px;
          left: 0;
          background-color: rgba(color(greyscale, black), 1);
        }
      }

    li.develop {
      &:after {
      top: 6px;
      background-color: transparent;
      color: color(brand, danger);
      }
    }
  }
}
}

.sample-portfolio {
  background-color: darken(color(greyscale, dark-grey), 5%);
  @include gridlines(150px, 150px, 2px, 0px);

  @include breakpoint(max-width breakpoint-value(sm)) {
    padding-top: 100px;
  }

  .section-title {
    span {
      color: color(greyscale, grey);
      background-color: darken(color(greyscale, dark-grey), 5%);
    }
  }

  .cta {
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  .sub {
    top: -100px !important;
    color: darken(color(greyscale, grey), 35%);
  }

  .sample {
    padding-top: 225px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-top: 100px;
    }

    &.right {
      .details {
        text-align: left !important;
      }

      a {
        h3 {
          left: -30px;
          right: initial;

          @include breakpoint(max-width breakpoint-value(sm)) {
            left: 0;
          }
        }
      }

      .title-lg {
        text-align: right;
      }
    }

    &.left {
      .details {
        @include breakpoint(sm) {
          @include grid-reorder(first);
        }
      }
    }

    .row {
      position: relative;
    }
  }

  .details {
    color: color(greyscale, white); 
    text-align: right;

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-top: 55px;
    }

    p {
      letter-spacing: 1px;
      display: -webkit-box;
      overflow: hidden;
      width: 100%;
      margin-top: 5px;
      text-overflow: ellipsis;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;

      @include font-size(11px);
    }

    span, 
    strong {
      font-family: font-family(brand);
    }

    a {
      font-family: font-family(brand);
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      color: color(brand, danger)
    }
  }

  .card {
    a {
      width: 100%;
      &:hover {
        & + .title-lg {
          mix-blend-mode: difference;

          @include breakpoint(max-width breakpoint-value(sm)) {
            mix-blend-mode: unset;
          }

          &:before {
            @include transform(translateX(0%));
            color: color(greyscale, black);
          }
        }
      }

      &:focus {
        .image-wrapper {
          @include transform(scale(0.9));
        
            .image {
              @include filter(blur(10px));
            }

            img {
              @include transform(scale(1.1));
            }
          }
        }
    
    h3 {
        position: absolute;
        margin: 0;
        top: -20px;
        right: -30px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        color: color(greyscale, white);
        z-index: 2;
        @include font-size(50px);

        @include breakpoint(max-width breakpoint-value(sm)) {
          right: 0;
          @include font-size(25px);
        }
      }
    }
    .image-wrapper{
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 300px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      @include transition(all .7s ease-in-out);
      @include shadow(4, dark);

      @include breakpoint(max-width breakpoint-value(sm)) {
         height: 225px;
      }

      .image {
        position: absolute;
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        @include transition(all .7s ease-in-out);
        @include filter(blur(0px));
      }

      img {
        position: absolute;
        width: 100%;
        opacity: 1;
        z-index: 3;
        @include transform(scale(0.9));
        transform-origin: center 180px;
        @include transition(all .75s ease-in-out);
        @include shadow(3, dark);
      }

      &:hover {
        transform-origin: right right;
        @include transform(scale(1));
        
        .image {
          @include filter(blur(10px));
        }

        img {
          opacity: 1;
          transform-origin: center 75px;
          @include transform(scale(0.7));
          @include shadow(1, light);
        }
      }
    }

    .title-lg {
      position: absolute;
      width: 100%;
      top: 57%;
      left: 0;
      z-index: 3;
      font-family: font-family(primary);
      line-height: 1.3;
      color: color(greyscale, grey);
      mix-blend-mode: color-dodge;
      @include font-size(70px);
      @include transition(all 0.5s ease-in-out);
      overflow: hidden;

      @include breakpoint(max-width breakpoint-value(sm)) {
        top: 100px;
        mix-blend-mode: unset;
        @include font-size(50px);
      }

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: color(brand, danger);
        @include transform(translateX(-101%));
        @include transition(all 0.5s ease-in-out);
      }
    }
  }
}

.btn-cta {
  padding: 10px 20px;
  background-color:color(brand, danger);
  color: color(greyscale, white);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: 700;
  font-family: font-family(brand);
  @include font-size(14px);
  @include box-shadow(1px 0px 50px 0px rgba(color(brand, danger), 0.2));
  @extend .transition;
  cursor: pointer;

  &:hover {
    color: color(greyscale, white);
    @include transform(translateY(3px));
     @include box-shadow(1px 0px 50px -20px rgba(color(brand, danger), 0.2)); 
  }
}

form {
  button[type="submit"],
  input[type="submit"] {
    @extend .clear-button, .btn-cta, .pull-right;
  }
}

.input-wrapper {
  margin: 0 0 30px;

  label {
    display: block;
    position: relative;
    font-weight: 700;
    margin-bottom: 5px;
    color: color(greyscale, dark-grey);
    z-index: 1;
    @include font-size(20px);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    position: relative;
    border: 3px solid rgba(color(greyscale, grey), 0.5);
    color: rgba(color(greyscale, dark-grey), 0.9);
    background: transparent;
    @include font-size(18px);
    padding: 10px 10px;
    // margin-left: 15px;
    width: 100%;
    letter-spacing: .75px;
    @extend .transition;
    
    &:focus {
      z-index: 5;
      color: rgba(color(brand, success), 0.7);
      border: 3px solid rgba(color(brand, success), 0.4);
      outline: rgba(color(brand, success), 0.7);
      background: transparent;
    }
  }
}