.services-page-wrapper {
  .services-page {
    min-height: 600px;

    @include breakpoint(max-width breakpoint-value(sm)) {
      padding-top: 50px;
      min-height: 500px;
    }
  }

  .text-content {
    margin-top: 100px;
  }

  .sub {
    top: -40px;
  }
}