@include normalize();

::-moz-selection {
   color: color(greyscale, dark-grey);
  background: rgba(color(greyscale, grey), 0.8);
}
::selection {
  color: color(greyscale, dark-grey);
  background: rgba(color(greyscale, grey), 0.8);
}


* {
  @include breakpoint(max-width breakpoint-value(sm)) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  // Styles scrollbar if one appears
  ::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    border: 0 {
      right: 1px solid color(greyscale, white);
      left: 1px solid color(greyscale, white);
    }
    border-radius: 0;
    background: transparent ;
    mix-blend-mode: difference;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: color(brand, grey);
  }

  ::-webkit-scrollbar-track {
    border: 0 none color(greyscale, white);
    border-radius: 50;
    background: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.App {
  overflow: hidden;
}

@include keyframes(load) {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
    visibility: none;
    z-index: -1;
  }
}

@include keyframes(loading) {
  0% {
    filter: drop-shadow(1px 1px 2px rgba(color(brand, secondary), 0.1));
  }

  50% {
    filter: drop-shadow(16px 16px 20px rgba(color(brand, secondary), 0.7));
  }

  100% {
    filter: drop-shadow(1px 1px 5px rgba(color(brand, secondary), 0.1));
  }
}

.app-loading {
  height: 100vh;
  background-color: color(greyscale, black);
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
  animation: 0.75s load forwards ease-in-out;
  animation-delay: 5s;

  .content {

    img {
      max-width: 800px;
      width: 100%;
      animation: 1s loading infinite ease-in-out;
    }

    span {
      font-family: font-family(brand);
      color: color(greyscale, white);
      text-transform: uppercase;
    }
  }
}

body {
  min-height: 100vh;
  height: 100vh;
  overflow-y: scroll;
  color: color(greyscale, dark-grey);
  background-color: darken(color(greyscale, dark-grey), 5%);
  font-family: font-family(primary);
  line-height: heading(default, line-height);

  //@include gridlines(150px, 150px, 2px, 0px);
  @include font-size(heading(default, font-size));
}

main {
  // max-height: 100vh;
  // height: 100vh;
  // overflow-y: scroll;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid color(greyscale, light-grey);
}

.blank {
  background-color: color(greyscale, white);
}

// Images
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// Helpers
.transition {
  @include transition(all 0.3s ease-in-out);
}

.faded {
  @include opacity(0.8);
}

.center,
.center-block {
  display: block;
  margin: 0 auto;
}

// Resets all styles on a button
.clear-button {
  text-rendering: auto;
  color: inherit;
  font-size: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: inherit;
  margin: 0;
  padding: 0;
  background: none;
  outline: 0;
  border: 0;
  border-radius: 0;
  font-weight: inherit;
  cursor: pointer;
  width: inherit;
  font-family: inherit;
}

// Createing classes
@if infra-value(text) != false {
  @include infra-text();
}

@if infra-value(lists) != false {
  @include infra-lists();
}

@if infra-value(headings) != false {
  @include infra-headings();
}

@if infra-value(position) != false {
  @include infra-position();
}

// Vars for setup of grid system
$col-size: map-keys(get('grid, setup, breakpoints')) !default;
$grid-columns: get('grid, grid-columns');

@include flexbox-grid($col-size, $grid-columns);

// Checks to see if you want to import
@if infra-value(box-modal) != false {
  @include infra-box-modal(infra-value(box-modal), infra-value(box-modal-values));
}

@if infra-value(display) != false {
  @include infra-display(infra-value(display));
}

.main-content {
  padding-left: 0;
  padding-right: 0;
}

div[style^="opacity"] {
  @include transition(transform .2s ease-in-out);
}

.bg-white {
  background-color: color(greyscale, white);
}

blockquote {
  margin: 0;
  padding-left: 30px;
  border-left: 4px solid color(brand, danger);
}

.row {
  @extend .transition;
}

.toggle-wrapper {
  position: relative;
}

.toggle-open {
  span {
    &::before {
      content: attr(data-open);
    }
  }
}

.toggle-collapse {
  span {
    &::before {
      content: attr(data-close);
    }
  }
}

.collapse {
  padding: 0 !important;
  animation: fadeOutUp .5s ease-in-out forwards;
}

.open {
  animation: fadeInUp 0.3s ease-in-out forwards;
}

.toggle {
  background-color: color(brand, danger);
  color: color(greyscale, white);
  outline: 0;
  border: 3px solid color(brand, danger) {
    radius: 4px;
  }
  font-weight: 600;
  text-transform: uppercase;
  font-family: font-family(heading);
  cursor: pointer;
  @include font-size(24px);

  span {
    position: relative;
    display: inline-block;
    @include shadow((
      type: dark,
      level: 2,
      text: text,
    )...);
    @extend .transition;

    &:before {
      position: relative;
      width: 100%;
    }
  }
}

.services {

  p {
    position: relative;
    z-index: 100;
  }

  .toggle {
    position: relative;
    top: 32px;
  }

  &.special {
    .container {
      padding: 140px 0 100px;
    }
  }
}

.pad-30 {
  padding: 30px
}

.mar-30 {
  margin: 30px
}

.no-pad-md {
  @include breakpoint(sm) {
    padding: 0;
  }
}
